@use "../abstracts/mixins" as *;

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @include breakpoint-up($breakpoint-md) {
        flex-direction: row;
    }

    main {
        flex: 1;
        padding: var(--space-4);

        @include breakpoint-up($breakpoint-md) {
            padding: var(--space-10);
        }
    }

    .page-footer {
        @include flex(row, center, center);
        margin-top: var(--space-6);
    }
}
