:root {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}

body {
    background: var(--color-neutral-100);
    color: var(--color-text);
    font: 400 var(--font-size-base)/1.5 var(--font-body);
}

main > .alert {
    margin-bottom: var(--space-1);
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-hover);
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-neutral-900);
}

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}
